/* Shared CSS styles  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
  font-family: "Inter", sans-serif;
}

/*Banner related css styles*/
header {
  margin: 50px 140px 0px 140px;
  background-image: url("../resources//Banner\ Image.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner h5 {
  font-weight: 400;
  font-size: 32px;
  color: #ffffff;
  text-align: center;
  font-weight: 400;
}
.banner h1 {
  font-size: 72px;
  font-weight: 900;
  text-align: center;
  color: #ffffff;
}

/* Celebration Part Related CSS Styles  */

.celebration {
  margin: 120px 399px 0 398px;
}
.celebration h1 {
  font-weight: 700;
  font-size: 88px;
  color: #ff0000;
  text-align: center;
  margin-bottom: 49px;
}
.celebration h5 {
  font-weight: 500;
  font-size: 24px;
  color: #ff0000;
  text-align: center;
  margin-bottom: 16px;
}
.celebration h2 {
  font-weight: 700;
  font-size: 48px;
  color: #070211;
  text-align: center;
  margin-bottom: 47px;
}
.celebration img {
  width: 100%;
}

/* Greeting part related CSS Styles  */

.greeting {
  margin: 120px 140px 120px 140px;
  background-image: url("../resources/Vectorrr.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  border-radius: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.greeting div {
  width: 50%;
  margin-left: 126px;
}
.greeting h1 {
  font-weight: 900;
  font-size: 64px;
  color: #ffffff;
  margin-bottom: 24px;
}
.greeting p {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 48px;
}
.greeting a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  margin-left: 32px;
}

/* Address related CSS styles  */

.address {
  margin: 0px 140px 120px 140px;
  background: linear-gradient(rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0));
  border-radius: 20px;
  padding: 100px 0px 100px 0px; 
}

.address h5{
    font-weight: 600;
    font-size: 32px;
    color: #070211;
    text-align: center;
}
.address span{
    color: #FF0000;
}
.address-link{
     display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}
.address a{
    text-decoration: none;
    background-color: #FF0000;
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    border-radius: 10px;
    padding: 16px 32px;
    text-align: center;
}